
.retour_link {
  background-color: #FAAF79;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100px;
  height: 38px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;

}

.card_place {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.image-container {
  position: relative;
  margin-bottom: 8px;

  .add_link {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 35px;
    right: 15px;
  }

  .card-place-add-button {
    position: absolute;
    z-index: 2;

    font-size: 25px;
    background-color:#FAAF79;
    color: white;
    border-radius: 5px;
  }

  .subtitle {
    color: #FAAF79;
    font-size: 16px;

  }
}
.card_show {
  .small_card_place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px 8px 12px;
    }
  .stylecategory {
    margin: 1px;
    flex-basis: 47%;
    height: 56px;
    border-radius: 8px;
    padding-left: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #415e8d;
    justify-content: space-between;
  }
}

.card_show-small_card_place {
  padding: 8px;
}

.small_card_place {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0px 12px 8px 12px;
}
.emoji_card {
  justify-content: left;
  display: flex;
  flex-direction: column;
  }

.title_principal {
  padding-top: 16px;
  padding-left: 24px;
  font-size: 24px;
}

.title_principal_show {
  font-size: 24px;
}

.title_principal_list {
  padding-top: 0px;
  font-size: 16px;
}

.title_secondaire {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.description {
  display: flex;
  align-items: center;
}

.image_places {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image_places_show {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.emoji_card {
  display: flex;
  align-items: center;
  justify-content: left;
}

.show-notation {
  display: flex;
  justify-content: space-between;
}

.my-3 {
  width: 100%;
}
