.journey-container {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
}

.journey-step {
  border-left: 1px solid #415e8d;
  padding-left: 16px;
  display: grid;
  top: 50px;
  position: relative;

  .line-curl {
    position: absolute;
    left: -35px;
    align-self: center;
  }

  .journey-dot {
    background-color:#415e8d;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -6px;
  }

  .emoji-time-journey {
    display: flex;
    align-items: center;
    margin: 32px 0;
    height: 40px;
    width: 100%;
    gap: 8px;
      .emoji-journey {
        font-size: 24px;
      }
  }

.image_journey {
  width: 90%;
  height: 90px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}
}
