
.input-search {
  border: none;
  height: 38px;
}

.form-search-card * {
  border: none;
}
.navbar_emoji {
  float: left;
  display: flex;
  font-size: 30px;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.navbar_emoji * {
  flex-grow: 1;
  padding-left: 4px;
  padding-right: 4px;
}

.category_home.active {
  background-color: #A7C4D4;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: grid;
  justify-content: center;
}
