.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  input {
    border-radius: 8px;

  }
  }
.input-search {
  border: none;
  height: 38px;
  width: 240px;
}

.form-search-card * {
  border: none;
}
.navbar_emoji {
  display: flex;
  font-size: 30px;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.navbar_emoji * {
  flex-grow: 1;
  padding-left: 4px;
  padding-right: 4px;
}

.category_home.active {
  border-radius: 50%;
  padding: 10px;
  display: grid;
  justify-content: center;
  position: relative;
}

.category_home.active::after {
  content: "";
  display: block;
  width: 50px; /* Ajustez la largeur de la ligne selon vos besoins */
  height: 3px; /* Ajustez l'épaisseur de la ligne selon vos besoins */
  background-color: #000; /* Couleur de la ligne */
  position: absolute;
  bottom: 0;
  left: 8px;
}
