
.button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  width: 100%;
  border: none;
}

.button_home {
  display: flex;
  position: fixed;
  bottom: 50px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  width: calc(90% - var(--bs-gutter-x) * .5);
  left: 0;
  right: 0;
  margin: auto;
}

.salmon-button {
  background: #FAAF79;
}

.journey-button {
  position: fixed;
  bottom: 16px;
  padding: 12px;
  font-size: 20px;
  background-color: white;
  color:#FAAF79;
  width: 100%;

}

.details-place-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;

}

.delete-button {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  color: #FAAF79;
}

.validate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

.search-button {
  background: #FAAF79;
  color: white;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
}

.back-button {
  background: #FAAF79;
  padding: 4px 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 8px;
}

.action-button {
  border: solid 1px #FAAF79;
  padding: 8px 16px;
  color: #e28a4b;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
  margin-right: 0.75rem;
  background-color: white;
}

.phone-button {
  background: rgb(132, 132, 177);
  padding: 4px 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
}

.add-button-container {
  display: flex;
  justify-content: center;
}
