.card-total-time {
  width: 340px;
  height: 61.43px;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  border-radius: 8px;
  background: #F5F8FF;
}

.card-all-total-time {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;

  &_overlay {
    display: flex;
    justify-content: space-between;
    font-weight: 600;

  }
}

.card-middel-total-time_overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.card-journey-details {
  width: 47%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;

}

.card-journey-details-2 {
  width: 50%;
  display: inline-block;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;

}
.card-journey {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-details {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  justify-content: center;
}

.places-margin-bottom {
  margin-bottom: 120px;
  justify-content: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.places-margin-top {
  margin-bottom: 120px;
  margin-top: 8px;
  justify-content: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nearby-places-cards{
  padding-bottom: 1rem;
  height: 41vh;
  height: 37dvh;
  overflow: scroll;
}

.nearby-places-card {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 80px;
  border-radius: 8px;
  margin: 20px 0;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.image-nearby-places {
  width: 100px;
  height: 80px;
}

.title-nearby-places {
  font-weight: bold;
  margin-left: 8px;
}
