<div class="container places-margin-bottom">
  <div class="my-3">
    <%= simple_form_for :place, url: journey_places_path(@journey), method: :get do |f| %>
      <%= f.input :name, input_html: { placeholder: "Nom du lieu" }, label: false %>
      <%= f.button :submit, "OK" %>
    <% end %>
  </div>

  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>

  <%= link_to "Voir mon parcours", journey_path(@journey), class: "button salmon-button journey-button" %>
</div>
