<div class="container">
  <div>
    <%= simple_form_for :place, url: journey_places_path(@journey), method: :get do |f| %>
      <%= f.input :name, input_html: { placeholder: "Nom du lieu" } %>
      <%= f.button :submit, "OK" %>
    <% end %>
  </div>

  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>
</div>


 <%= link_to "Valider", journey_path(@journey), class: "button salmon-button" %>


